.watch--navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, transparent 90%);
}

.playerYoutube {
    height: 100vh;
    display: "flex";
    justify-content: "center";
    align-items: "center";
    overflow: hidden;
}

/* header {
    display: none;
} */